@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi", sans-serif;
  src: url("/public/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/public/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("/public/fonts/Satoshi-Regular.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended";
  src: url("/public/fonts/MonumentExtended-Regular.woff2") format("woff2");
  font-style: normal;
}

body{
  @apply bg-black text-white font-Satoshi
}

.contain{
  @apply w-[90%] md:w-[85%] mx-auto
}

::selection {
  background-color: #ab23ff;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #ab23ff;
  border-radius: 1px;
}
.scroll::-webkit-scrollbar-track {
  background-color: #182634;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}
